.input-wraapper{
    .label{
        font-size: 46px;
        margin-bottom: 6px;
        margin: 0px;
        color: aquamarine;
        background-color: black;

    }
    .input{
        border: 1px solid grey;
        padding: 12px;
        border-radius: 8px;
        outline: none;
        width: 100%;
        box-sizing: border-box;
    }
    
}